<div class="milk">
  <div class="wrapper">
    <div class="product-detail">
      <div class="product product_<%= @product.id %>">
        <p class="name"><%= @product.name %></p>
        <%= image_tag @product.logo_url.url(:thumb) %>
        <p>價格：<%= @product.price %></p>
        <p>剩餘數量：<%= @product.qty %></p>
        <%= render 'common/cart_update', p: @product %>
      </div>
      <div class="product">
        <p class="name">商品描述</p>
        <p><%= @product.description %></p>
      </div>
      <div class="clearFix"></div>
    </div>
  </div>
</div>