<div class="milk">
  <div class="wrapper">
    <div class="overview">
      <div class="slider">
        <ul class="pic">
          <li><img src="<%= asset_path("0.jpg") %>" alt=""></li>
          <li><img src="<%= asset_path("1.jpg") %>" alt=""></li>
          <li><img src="<%= asset_path("2.jpg") %>" alt=""></li>
        </ul>
        <div class="clearFix"></div>
        <ul class="control"></ul>
      </div>
      <a href="javascript:;" class="bf"></a>
      <a href="javascript:;" class="ff"></a>
    </div>
    <div class="welcome">
      <h2><span>W</span>ELCOME<span>!</span></h2>
      <div>
        <p>歡迎您來到鮮奶的故鄉—鮮乳坊</p>
        <p>鮮乳坊要帶給大家的，是無成分調整的優質鮮奶，</p>
        <p>沒有其他選擇，只有最天然，只有最新鮮。</p>
      </div>
    </div>
    <div class="topic">
      <div class="row">
        <%= link_to '', store_path, class: "shop-img" %>
        <div class="content shop">
          <h3>商品列表</h3>
          <h4>小農品牌的優質鮮奶</h4>
          <p>Lorem ipsum dolor sit amet, conseccing elit.</p>
          <p>Nunc lin posuere dui. Nunc sapien magna,</p>
          <p>venenatis all terycursus massa quis,</p>
          <p>conseqgestas mi, aenean. adipiscing libreo et</p>
          <p>dui consequat.</p>
          <div class="button shop"><%= link_to '前往購買', store_path %></div>
        </div>
      </div>
      <div class="row">
        <div class="content farm">
          <h3>農場故事</h3>
          <h4>台灣農業的大小事</h4>
          <p>Lorem ipsum dolor sit amet, conseccing elit.</p>
          <p>Nunc lin posuere dui. Nunc sapien magna,</p>
          <p>venenatis all terycursus massa quis,</p>
          <p>conseqgestas mi, aenean. adipiscing libreo et</p>
          <p>dui consequat.</p>
          <div class="button farm"><%= link_to '前往閱讀', blogs_path %></div>
        </div>
        <%= link_to '', blogs_path, class: "farm-img" %>
      </div>
      <div class="row">
      <%= link_to '', about_path, class: "about-img" %>
        <div class="content about">
          <h3>關於鮮乳坊</h3>
          <p>Lorem ipsum dolor sitcing elit. Nunc</p>
          <p>lin posuere dui. Nunc sapien magna,</p>
          <p>venenatis all terycursus massa quis,</p>
          <p>conseqgestas mi, aenean.</p>
        </div>
        <div class="news">
          <div class="sort">
            <div class="next-arrow"><a href="javascript:;">05</a></div>
            <div class="watching">04</div>
            <div class="previous-arrow"><a href="javascript:;">03</a></div>
          </div>
          <div class="sub">
            <h3>最新消息</h3>
            <p>即將正式上站，敬請期待！</p>
            <p>Liorem ipsum dolor sitcaegiing elit.</p>
            <p>Nunl altotilin posuere dui. Nunc sapien</p>
            <p>magna fali klvenenatis all terycursus</p>
            <p>massa qus dfgdcometi all</p>
            <p>conseqgestas.</p>
          </div>
          <div class="select">
            <div class="square sq1"></div>
            <div class="square sq2"></div>
            <div class="square sq3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>