<%= link_to '新增商品', new_admin_product_path, remote: :true %>
<div id="create_product"></div>

<ul id="product">
  <% @products.each do |p| %>
    <br>
    <li>
      <p><%= p.name %></p>
      <p>價格：<%= p.price %></p>
      <p>剩餘數量：<%= p.qty %></p>
    </li>
  <% end %>
</ul>

<%= paginate @products %>
