  <div class="wrapper">
    <div class="header" id="top">
      <div class="contentwidth">
          <h1>鮮乳坊</h1>
          <p>第一手的鮮奶</p>
          <p>酪農品牌鮮奶直送</p>
      </div>
          <a href="javascript:;">向下捲動</a>
    </div>
    <div class="direct_to">
      <div class="contentwidth">
        <h2>鮮奶直送</h2>
        <p>是不敢喝牛奶，還是不知道怎麼挑牛奶？</p>
        <p>我們給您最單純最簡單的選擇</p>
      </div>
    </div>
    <div class="order">
      <div class="contentwidth">
        <h2>每週固定配送</h2>
        <p>想要新鮮，不再需要到超市排隊。</p>
      </div>
    </div>
    <div class="brand">
      <div class="contentwidth">
        <h2>酪農自有品牌</h2>
        <p>您終於有方便的管道可以買到小農品牌的優質鮮奶</p>
        <p>因為了解，所以放心</p>
      </div>
    </div>
    <div class="fresh">
      <div class="contentwidth">
        <h2>保證無添加</h2>
        <p>給自己一個，與牧場新鮮的牛奶直接對話的機會</p>
        <p>鮮奶的『鮮』，來自於牧場的味道</p>
      </div>
    </div>
    <div class="me">
      <div class="contentwidth">
        <div class="vet">
          <h3>我是阿嘉</h3>
          <p>一位全台灣趴趴走的大動物獸醫師，</p>
          <p>每天在全台10個不同縣市的牧場出診，</p>
          <p>守護著30個牧場，超過6000頭乳牛的健康，</p>
          <p>與每一位酪農戶直接接觸，所以我敢大聲推薦！</p>
          <p>搭起消費者和酪農的橋樑，體會最自然的鮮奶風味。</p>
        </div>
        <div class="aga"></div>
      </div>
    </div>
    <div class="cow">
      <div class="contentwidth"></div>
    </div>
    <div class="footer">
      <div class="contentwidth">
        <div class="tell_us" id="form">
          <h4>追蹤「鮮乳坊」的後續消息</h4>
          <p>留下您的電子郵件，讓我們寄送最新的消息給您。</p>
          <%= form_for @ta, url: landingpages_path do |f| %>
            <p class="fail"><%= flash[:fail] %></p>
            <%= f.label :name, "*該怎麼稱呼您？(暱稱/姓名)" %><br>
            <%= f.text_field :name %>
            <%= f.radio_button :gender, "female" %>小姐
            <%= f.radio_button :gender, "male" %>先生<br><br>
            <%= f.label :email, "*請輸入您常用的電子郵件信箱：" %><br>
            <%= f.email_field :email %><br><br>
            <%= f.submit "送出", :class => "submit", :onClick => "_gaq.push(['_trackEvent', 'signup', 'click']);" %>
          <% end %>
        </div>
        <a href="#top" class="to_top">回頁首</a>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0027/0789.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>