<h1>鮮乳坊</h1>

<ul>
<% @products.each do |p| %>
  <br>
  <li>
    <p><%= p.name %>
    價格：<%= p.price %>
    剩餘數量：<%= p.qty %>
    <%= link_to '前往商品頁', store_product_path(p) %>
    <%= render 'common/cartupdate', p: p %></p>
  </li>
<% end %>
</ul>