<div class="milk">
  <div class="wrapper">
    <div class="products">
      <h2>商品列表</h2>
      <ul>
        <% @products.each do |p| %>
        <li class="product product_<%= p.id %>">
          <%= link_to store_product_path(p) do %>
            <p class="name"><%= p.name %></p>
            <%= image_tag p.logo_url.url(:thumb) %>
            <p>價格：<%= p.price %></p>
            <p>剩餘數量：<%= p.qty %></p>
          <% end %>
          <%= render 'common/cart_update', p: p %>
        </li>
        <% end %>
      </ul>
      <div class="clearFix"></div>
      <div class="paging"><%= paginate @products %></div>
    </div>
  </div>
</div>

