<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta name="keyword" content="牛奶,鮮乳,鮮奶" >
  <meta name="description" content="小農品牌鮮乳直送">
  <title>鮮乳坊</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54435640-4', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  </script>

  <% if request.path == '/landingpages/success' %>
    <!-- Facebook Conversion Code for landing page e-mail -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018741546357', {'value':'0.00','currency':'TWD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018741546357&amp;cd[value]=0.00&amp;cd[currency]=TWD&amp;noscript=1" /></noscript>
  <% end %>

</head>
<body>

<% if flash[:alert] %>
  <div class="alert">
    <p><%= flash[:alert] %></p>
    <%= link_to '好', "javascript:close();" %>
  </div>
  <script>
    function close(){$('.alert').remove()};
  </script>
<% end %>

<% unless controller.controller_name == 'landingpages' || controller.controller_path.split('/').first == 'admin' %>
  <div class="float-button">
    <div class="fb-auth">
      <% if current_user %>
        Hi, <%= current_user.name %>
        <%= link_to "登出", auth_signout_path, method: :delete %><br>
      <% else %>
        <%= link_to "Facebook 登入", "/auth/facebook" %><br>
      <% end %>
    </div>
    <div class="float float_cart">
      <%= render 'common/float_cart' %>
    </div>
    <% if current_user %>
      <div class="float float_order">
        <%= link_to store_orders_path do %>
          <p id="order-list">訂單列表</p>
        <% end %>
      </div>
      <%# unless request.path == '/store' %>
        <div class="float float_store">
          <%= link_to store_path do %>
            <p id="product-list">商品列表</p>
          <% end %>
        </div>
      <%# end %>
    <% end %>
  </div>

  <div class="milk">
    <div class="wrapper">
      <div class="nav">
        <ul>
          <li><%= link_to '鮮乳坊', welcome_path, 'data-no-turbolink' => true %></li>
          <li><%= link_to '商品列表', store_path %></li>
          <li><%= link_to '獨立品牌', brands_path %></li>
          <li><%= link_to '農場故事', blogs_path %></li>
          <li><%= link_to '關於我', about_path %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

<% unless controller.controller_name == 'landingpages' || controller.controller_path.split('/').first == 'admin'%>
  <div class="milk">
    <div class="wrapper">
      <div class="copyright">
        <p>鮮乳坊 &copy;2014 | MitsunChieh</p>
      </div>
    </div>
  </div>
<% end %>

</body>
</html>